* {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

input {
    vertical-align: middle;
}
input[type=radio],
input[type=checkbox] {
    width: 1em;
    height: 1em;
}

/* Page Layout */
body {
    display: grid;
    grid-template:
        "main-menu main-menu" 2rem
        "side-ui graphical-display" 1fr
        "side-ui bottom-ui" min-content /
        fit-content(30%) 1fr;

    background-color: rgb(35, 42, 100);
}

ul {
    /*padding-left: 1em;*/
    list-style-position: inside;
}

#main-menu {
    background-color: #1b1b1b;

    grid-area: main-menu;
    place-self: stretch;

    display: flex;
    align-items: center;
    padding: 0 0.5em 0 0.5em;
    color: white;
}

#side-ui {
    grid-area: side-ui;
    background-color: rgb(28, 34, 79);
    
    font-size: clamp(0.7rem, 3vh, 1rem);
    padding: 1em;
    overflow: auto;
    color: white;
}

#bottom-ui {
    grid-area: bottom-ui;
    background-color: black;

    color: white;
}

#graphical-display {
    grid-area: graphical-display;
    background-color: #AAA;
    position: relative;
    user-select: none;
    touch-action: none;
}

#render-modal {
    width: min-content;
}

#render-output-canvas {
    width: min(700px, 50vw);
    outline: 1px solid black;
}

/* Dropdown behavior */
.dropdown {
    user-select: none;
}

.dropdown__button {
    padding: 0 0.8em 0 0.8em;
    background-color: transparent;
    border: none;
    color: white;
}
.dropdown__button:hover,
.dropdown:focus-within/*.open*/ .dropdown__button {
    background-color: #444;
    outline: 1px solid #BBB;
}
.dropdown:focus-within .dropdown__content {
    display: flex;
}
/*.dropdown.open .dropdown__content {
    display: flex;
}*/
.dropdown__content {
    display: none;
    position: absolute;
    z-index: 10;
    
    min-width: 10em;

    flex-flow: column nowrap;
    align-items: stretch;
    gap: 2px;
    padding: 0.2em 0em 0.2em 0;
    background-color: #444;
    outline: 1px solid #BBB;
}
.dropdown__content button {
    background-color: transparent;
    border: none;

    padding-right: 0.5em;
    text-align: start;
    text-indent: 2em;
    color: white;
}
.dropdown__content button:hover {
    background-color: #666;
}

/* Modal behavior */
.modal {
    /*background-color: transparent;*/
    border: none;
    width: min(20em, 60%);
    margin: auto;
    padding: 1.5em 0.8em;
    background-color: white;
    border-radius: 10px;
    font-size: clamp(0.7rem, 4vh, 1rem);
}/*
.modal__container {
    padding: 1.5em 0.8em;
    background-color: white;
    border-radius: 10px;
}*/
.modal::backdrop {
    background-color: #0006;
}
.modal h1 {
    text-align: center;
    font-size: min(2em, 7vw)
}
.modal p {
    margin: 0.5em 0 0.5em 0;
}

.modal__close-button {
    position: absolute;
    top: 15px;
    right: 15px;

    border: none;
    border-radius: 6px;
    background-color: black;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.modal__close-button::before,
.modal__close-button::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 12%;
    background-color: white;
}
.modal__close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

